:root{
    --primary: #121213;
    --secondary: #799496;
    --tertiary: #3c1618;
    --accent1: #DDB967;
    --accent2: #EDC79B;
    --white: #fff;
}

.brand {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;    
    border: 2px solid var(--accent1);   
    border-radius: 10px;      
    padding: 30px;    
}

.brand a {
    text-decoration: none;
    color: var(--accent1);
}

.modeContainer {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;    
    padding: 30px;    
    margin-left: 1400px;
}

.menu {
    display: inline-block;
    margin-left: 30px;
}

.menu a {
    text-decoration: none;
    color: var(--accent1);
}