:root{
    --primary: #000000;
    --secondary: #799496;
    --tertiary: #3c1618;
    --accent1: #DDB967;
    --accent2: #EDC79B;
    --white: #fff;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--tertiary);
    width: 100%;
    padding: 10px 20px;
  }
  


.brand {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;    
    border: 2px solid var(--accent1);   
    border-radius: 10px;      
    padding: 30px;    
    margin-left: 50px;
}

.brand a {
    text-decoration: none;
    color: var(--accent1);
}

.modeContainer {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;    
    padding: 30px;    
    margin-left: 50px;
}

.experience {
    font-size: 1.5em;
    display: inline-block;
    margin-left: 1300px;
}

.experience a {
    text-decoration: none;
    color: var(--accent1);
}

.menu a {
    text-decoration: none;
    color: var(--accent1);
}

/* Slider switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded slider */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
@media screen and (max-width: 1200px) {
    .brand {
        font-size: 1.2em;
        padding: 20px;
    }
    
    .modeContainer {
        font-size: 1.2em;
        padding: 20px;
    }
    
    .experience {
        font-size: 1.2em;
        margin-left: 800px;
    }
    
    .menu a {
        font-size: 1.2em;
    }
    
    .switch {
        width: 50px;
        height: 28px;
    }
    
    .slider:before {
        height: 22px;
        width: 22px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
  
}

  @media screen and (max-width: 768px) {
    .brand {
        font-size: 1.2em;
        padding: 20px;
        margin-left: -20px;
    }
    
    .modeContainer {
        font-size: 1.2em;
        padding: 20px;
    }
    
    .experience {
        font-size: 1.2em;
        margin-left: 120px;
    }
    
    .menu a {
        font-size: 1.2em;
    }
    
    .switch {
        margin-left: -50px;
        width: 50px;
        height: 28px;
    }
    
    .slider:before {
        height: 22px;
        width: 22px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
    
  }
