:root{
    --primary: #363537;
    --secondary: #b5ffe1;
    --tertiary: #A9AFD1;
    --accent1: #DDB967;
    --accent2: #EDC79B;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: var(--primary);
}