:root{
    --primary: #121213;
    --secondary: #799496;
    --tertiary: #3c1618;
    --accent1: #DDB967;
    --accent2: #EDC79B;
    --white: #fff;
}

.dev-tools{
    padding: 50px;
    margin-top: -1020px;
    margin-left: 950px;
    margin-right: 50px;
    border-radius: 10px;
    width: 300px;
    border: 2px solid var(--accent1);
    background-color: var(--primary); 
    color: var(--accent1); /* Ensures text is readable against the background */
}

.dev-tools h1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.devToolsIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px; /* Space between icons */
    margin-top: 20px; /* Space above the icons */
    margin-left: 100px; /* Space to the left of the icons */
}

.icon:hover{
    transform: scale(1.1);
    color: var(--secondary);
}