:root{
    --primary: #000000;
    --secondary: #1a344c;
    --tertiary: #3c1618;
    --accent1: #DDB967;
    --accent2: #EDC79B;
    --white: #fff;
}

.FrontEnd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    width: 300px;
    border: 2px solid var(--accent1);
    background-color: var(--primary); 
    color: var(--accent1); /* Ensures text is readable against the background */
}

.FrontEnd h1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.frontEndIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px; /* Space between icons */
    margin-top: 20px; /* Space above the icons */
    margin-left: 100px; /* Space to the left of the icons */   
}

.icon:hover{
    transform: scale(1.1);
    color: var(--secondary);
}

@media screen and (max-width: 1200px) {
    .FrontEnd {
        width: 100%; /* Full width on smaller screens */
        margin: 20px; /* Adjust margins for smaller screens */
    }
    .frontEndIcons {
        flex-direction: row; /* Change to row layout on smaller screens */
        justify-content: center; /* Center the icons horizontally */
    }
    .icon {
        margin: 0 10px; /* Adjust spacing between icons */
    }
}

@media screen and (max-width: 768px) {
    .FrontEnd {
        width: 100%; /* Full width on smaller screens */
        margin: 20px; /* Adjust margins for smaller screens */
    }
    .frontEndIcons {
        flex-direction: row; /* Change to row layout on smaller screens */
        justify-content: center; /* Center the icons horizontally */
    }
    .icon {
        margin: 0 10px; /* Adjust spacing between icons */
    }    
}