:root{
    --primary: #121213;
    --secondary: #799496;
    --tertiary: #3c1618;
    --accent1: #DDB967;
    --accent2: #EDC79B;
    --white: #fff;
}

.sectionOne{
    display: flex;
    flex-direction: ;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: var(--primary);
    border: var(--accent1) 2px solid;
    border-radius: 10px;
    margin: 20px;
    margin-left: 50px;
    margin-top: 150px;
}


.headshot img{
    width: 250px;
    height: 100%;;
    border: 3px solid var(--accent1);
    float: left;
    margin-right: 1000px;
    display: inline-block;
}

.sectionOne h1{
    color: var(--accent1);
    font-size: 4.5rem;
    margin: 20px 0;
    text-align: center;
    display: inline-block;
}
.title{
    color: var(--accent1);
    margin: 10px 0;
    margin-top: -20px;
    text-align: center;
}

.availability{
    color: var(--accent1);
    margin: 10px 0;
    margin-top: -20px;
    text-align: center;
}

.description{
    color: var(--white);
    margin: 10px 0;
    margin-top: -20px;
    text-align: center;
}

.Time{
    color: var(--white);
    margin: 10px 0;
    margin-top: -20px;
    text-align: center;
}