:root{
    --primary: #121213;
    --secondary: #799496;
    --tertiary: #3c1618;
    --accent1: #DDB967;
    --accent2: #EDC79B;
    --white: #fff;
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 120px;
    margin-left: 50px;
}

.sectionOne{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    width: 95%;
    background-color: var(--primary);
    border: var(--accent1) 2px solid;
    border-radius: 10px;
    margin: 20px;
    margin-left: 50px;
    
}


.headshot img{
    width: 500px;
    height: 100%;;
    border: 3px solid var(--accent1);
    border-radius: 10px;

}

.sectionOne h1{
    color: var(--accent1);
    font-size: 4.5rem;
    margin: 20px 0;
    text-align: center;
    justify-content: center;
}
.title{
    color: var(--accent1);
    margin: 10px 0;
    margin-top: -20px;
    text-align: center;
}

.availability {
    color: var(--accent1);
    margin: 10px 0;
    margin-left: 350px;
    margin-bottom: 20px;
    text-align: center;
    border: 3px solid var(--accent1);
    border-radius: 50px;
    max-width: 500px;
    position: relative;
  }
  
  /* Apply a green pulse when available */
  .availability.available {
    animation: pulseGreen 2s infinite;
  }
  
  /* Apply a red pulse when not available */
  .availability.not-available {
    animation: pulseRed 2s infinite;
  }
  
  @keyframes pulseGreen {
    0% {
      box-shadow: 0 0 0 0 var(--accent1);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
    }
  }
  
  @keyframes pulseRed {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
  }
  

.description{
    color: var(--white);
    margin: 10px 0;
    margin-top: -20px;
    text-align: center;
}

.time{
    color: var(--accent1);
    margin: 10px 0;
    margin-top: -20px;
    text-align: center;
}