:root{
    -primary: #000000;
    --secondary: #1a344c;
    --tertiary: #3c1618;
    --accent1: #DDB967;
    --accent2: #EDC79B;
    --white: #fff;
}


.carousel-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 20px;
  box-sizing: border-box;
}

.projects-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  z-index: 3;
  position: relative;
  color: var(--accent1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.carousel-button {
  background-color: var(--tertiary);
  color: var(--accent1);
  border: none;
  font-size: 2.5rem;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  z-index: 2;
}

.carousel-slide {
  overflow: hidden;
  width: 100%;
  max-width: 650px;
  height: auto;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.project-link {
  flex: 0 0 100%;
  max-width: 100%;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
}

.project-card {
  background-color: var(--accent1);
  padding: 50px; /* More vertical padding */
  margin: 10px 0;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
  min-height: 300px; /* Add height to make it feel taller */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project-card p {
  font-size: 1.2rem;
  line-height: 1.6;
}

@media screen and (max-width: 1200px) {
  .carousel-button {
    font-size: 2rem;
    padding: 10px;
    width: 50px;
  }

  .project-card {
    padding: 40px;
    min-height: 250px;
  }

  .project-card h3 {
    font-size: 1.8rem;
  }

  .project-card p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .carousel-button {
    font-size: 1.5rem;
    padding: 8px;
    width: 50px;
  }

  .project-card {
    padding: 30px;
    min-height: 250px;
  }

  .project-card h3 {
    font-size: 1.5rem;
  }

  .project-card p {
    font-size: 1rem;
  }
  .projects-title {
    font-size: 2rem;
  }
  
}

